__pycache__/
*.py[cod]
*.db
instance/
.venv/
venv/
.env
.env.*
reports/
*.egg-info/
dist/
build/
coverage/
.coverage
.pytest_cache/
.git/
.gitignore
.github/
.gitlab-ci.yml
docs/
tests/
fail2ban/
*.md
.bandit.yaml
